<h1>RxJS workshop, Vol. 1</h1>

<h2>Operators</h2>
<a href="https://rxjs.dev/guide/operators#categories-of-operators">https://rxjs.dev/guide/operators#categories-of-operators</a>

<section>
  <markdown ngPreserveWhitespaces>
    ### Creation Operators
    * **of:** https://rxjs.dev/api/index/function/of
      - **Usage:** create new observable from plain value
      - **Notes:** also works with more than one value
    * **from:** https://rxjs.dev/api/index/function/from
      - **Usage:** create new observable from promise
      - **Notes:** also works with arrays, iterables, scheduler, ...
  </markdown>
  <div>
    <markdown ngPreserveWhitespaces (click)="clear(); of()">
      ```typescript
      // of
      of('of')
        .subscribe(console.log);
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); from()">
      ```typescript
      // from
      const p = new Promise(resolve =>
        setTimeout(() => resolve('from'), 1000)
      );
      from(p)
        .subscribe(console.log);
      ```
    </markdown>
  </div>
</section>



<section>
  <markdown ngPreserveWhitespaces>
    ### Join Creation Operators
    * **combineLatest:** https://rxjs.dev/api/index/function/combineLatest
      - **Usage:**
      - **Notes:**
    * **concat:** https://rxjs.dev/api/index/function/concat
      - **Usage:**
      - **Notes:**
    * **merge:** https://rxjs.dev/api/index/function/merge
      - **Usage:**
      - **Notes:**
  </markdown>
  <div>
    <markdown ngPreserveWhitespaces (click)="clear(); combineLatest()">
      ```typescript
      // combineLatest
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); concat()">
      ```typescript
      // concat
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); merge()">
      ```typescript
      // merge
      ```
    </markdown>
  </div>
</section>



<section>
  <markdown ngPreserveWhitespaces>
    ### Transformation Operators
    * **map:** https://rxjs.dev/api/operators/map
      - **Usage:**
      - **Notes:**
    * **switchMap:** https://rxjs.dev/api/operators/switchMap
      - **Usage:**
      - **Notes:**
    * **bufferCount:** https://rxjs.dev/api/operators/bufferCount
      - **Usage:**
      - **Notes:**
    * **bufferTime:** https://rxjs.dev/api/operators/bufferTime
      - **Usage:**
      - **Notes:**
    * **scan:** https://rxjs.dev/api/operators/scan
      - **Usage:**
      - **Notes:**
  </markdown>
  <div>
    <markdown ngPreserveWhitespaces (click)="clear(); map()">
      ```typescript
      // map
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); switchMap()">
      ```typescript
      // switchMap
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); bufferCount()">
      ```typescript
      // bufferCount
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); bufferTime()">
      ```typescript
      // bufferTime
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); scan()">
      ```typescript
      // scan
      ```
    </markdown>
  </div>
</section>



<section>
  <markdown ngPreserveWhitespaces>
    ### Filtering Operators
    * **filter:** https://rxjs.dev/api/operators/filter
      - **Usage:**
      - **Notes:**
    * **distinctUntilChanged:** https://rxjs.dev/api/operators/distinctUntilChanged
      - **Usage:**
      - **Notes:**
    * **takeUntil:** https://rxjs.dev/api/operators/takeUntil
      - **Usage:**
      - **Notes:**
    * **first:** https://rxjs.dev/api/operators/first
      - **Usage:**
      - **Notes:**
    * **skip:** https://rxjs.dev/api/operators/skip
      - **Usage:**
      - **Notes:**
    * **auditTime:** https://rxjs.dev/api/operators/auditTime
      - **Usage:**
      - **Notes:**
    * **debounceTime:** https://rxjs.dev/api/operators/debounceTime
      - **Usage:**
      - **Notes:**
    * **throttleTime:** https://rxjs.dev/api/operators/throttleTime
      - **Usage:**
      - **Notes:**
  </markdown>
  <div>
    <markdown ngPreserveWhitespaces (click)="clear(); filter()">
      ```typescript
      // filter
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); distinctUntilChanged()">
      ```typescript
      // distinctUntilChanged
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); takeUntil()">
      ```typescript
      // takeUntil
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); first()">
      ```typescript
      // first
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); skip()">
      ```typescript
      // skip
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); auditTime()">
      ```typescript
      // auditTime
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); debounceTime()">
      ```typescript
      // debounceTime
      ```
    </markdown>
    <markdown ngPreserveWhitespaces (click)="clear(); throttleTime()">
      ```typescript
      // throttleTime
      ```
    </markdown>
  </div>
</section>



<section>
  <markdown ngPreserveWhitespaces>
    ### Join Operators
    * **startWith:** https://rxjs.dev/api/operators/startWith
      - **Usage:**
      - **Notes:**
  </markdown>
  <markdown ngPreserveWhitespaces (click)="clear(); startWith()">
    ```typescript
    // startWith
    ```
  </markdown>
</section>



<section>
  <markdown ngPreserveWhitespaces>
    ### Multicasting Operators
    * **share:** https://rxjs.dev/api/operators/share
      - **Usage:**
      - **Notes:**
  </markdown>
  <markdown ngPreserveWhitespaces (click)="clear(); share()">
    ```typescript
    // share
    ```
  </markdown>
</section>


<section>
  <markdown ngPreserveWhitespaces>
    ### Error Handling Operators
    * **catchError:** https://rxjs.dev/api/operators/catchError
      - **Usage:**
      - **Notes:**
  </markdown>
  <markdown ngPreserveWhitespaces (click)="clear(); catchError()">
    ```typescript
    // catchError
    ```
  </markdown>
</section>


<section>
  <markdown ngPreserveWhitespaces>
    ### Utility Operators
    * **tap:** https://rxjs.dev/api/operators/tap
      - **Usage:**
      - **Notes:**
  </markdown>
  <markdown ngPreserveWhitespaces (click)="clear(); tap()">
    ```typescript
    // tap
    ```
  </markdown>
</section>



<h2>Examples</h2>
